body {
	font-size: 12px;
	font-family: Arial;
}

.clean:after {
	content: '';
	display: block;
	clear: both;
}
a {
	color: #999;
}
a:hover {
	color: #c40000;
}
.redColor {
	color: #c40000 !important; 
}
/*public-home-head*/
nav.top {
	background-color: #f2f2f2;
	padding: 5px 0;
	border-bottom: 1px solid #e7e7e7;
}
nav.top span,nav.top a {
	color: #999;
	margin: 0 10px;
}
nav.top a:hover {
	color: #c40000;
}
#logo {
	position: absolute;
	left: 0;
	top: 30px;
	z-index: -1;
}
div.search {
	margin-bottom: 51px;
}
div.searchDiv {
	width: 400px;
	height: 40px;
	float: right;
	margin: 40px 20px 0 0;
	background-color: #c40000;
	padding: 1px;
}
div.searchDiv input {
	width: 275px;
	border: 1px solid transparent;
	height: 36px;
	margin: 1px;
	outline: none;
}
div.searchDiv button {
	width: 110px;
	border: 1px solid transparent;
	background: #c40000;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
div.searchBelow {
	margin: 3px 0 0 -20px;
}
div.searchBelow span {
	color: #999;
}
div.searchBelow a {
	padding: 0 20px;
	font-size: 14px;
}

/*public-simple-header*/
img.simpleLogo {
	position: absolute;
	left: 10px;
	top: 30px;
}
div.simpleSearchDiv {
	width: 3	00px;
	height: 40px;
	background-color: #c40000;
	padding: 1px;
	margin: 10px 20px 40px;
}
div.simpleSearchDiv input {
	width: 225px;
	border: 1px solid transparent;
	height: 34px;
	margin: 2px;
	outline: none;	
}
div.simpleSearchDiv button {
	width: 60px;
	border: 1px solid transparent;
	background-color: #c40000;
	color: #fff;
	font-size: 14px;
}

/*public-footer*/
div.footer {
	margin: 0;
	border-top: 1px solid #e7e7e7;
}
div.footer_ensure {
	margin: 24px 0;
	text-align: center;
}
div.footer_desc {
	padding-top: 30px;
	border-top: 1px solid #e7e7e7;
	margin: 0 20px;
}
div.descColumn {
	width: 20%;
	float: left;
	padding-left: 15px;
}
div.descColumn span {
	color: #646464;
	font-size: 16px;
	font-weight: bold;
}
div.descColumn a {
	display: block;
	padding-top: 3px;
}
/*public-footer*/
div.copyright {
	border-top: 1px solid #e7e7e7;
	background-color: #000;
}
div.copyright span.slash {
	color: #fff;
}
div.copyright a {
	color: #fff;
	padding: 0 5px;
}
div.copyright div.white-link {
	margin-left: 10px;
	padding: 10px 0;
}
div.copyright div.license {
	margin-left: 10px;
	padding-bottom: 30px;
}
div.copyright div.license span {
	color: #a4a4a4;
	padding: 0 20px;
}
div.copyright div.license div.copyRightYear {
	margin: 10px 0;
	color: #686868;
}
img.cateye {
	margin-left: 20px;
}

/*首页轮播区域*/
div.categoryWithCarousel {
	width: 100%;
}
div.categoryWithCarousel div.headbar {
	background-color: #c40000;
}
div.categoryWithCarousel div.head {
	width: 200px;
	bakcgound-color: #c60a0a;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	margin-left: 20px;
	display: inline-block;
}
div.categoryWithCarousel div.right-menu {
	display: inline-block;
}
div.categoryWithCarousel div.right-menu a {
	font-size: 16px;
	color: #fff;
}
div.categoryWithCarousel div.right-menu span {
	margin: 0 20px;
}
div.categoryWithCarousel div.right-menu img {
	height: 30px;
}
div.carousel-of-product {
	height: 510px;
	width: 1024px;
	float: right;
	margin-right: 20px;
}
img.carouselImage {
	height: 510px !important;
}
div.carouselBackgroundDiv {
	width: 100%;
	height: 510px;
	position: absolute;
	top: 196px;
	background-color: #e8e8e8;
	z-index: -1;
}